<!-- Sanakirjan sanojen näyttösivu. Esimerkkiä on muokattu tilanteeseen sopivaksi osoitteesta https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html. -->

<!DOCTYPE html>
<html lang="fi">
<head>
<title> Sanakirjasovellus | Kaikki sanat </title>
<body>
<h1>Kaikki sanat</h1>

<% if (locals.sanat) {
locals.sanat.forEach(sana => { %>
<p>
Sana suomeksi: <%=sana.sanan_nimi_fi %><br>
Sana englanniksi: <%=sana.sanan_nimi_en %><br>
Kuvaus suomeksi: <%=sana.sanan_kuvaus_fi %><br>
Kuvaus englanniksi: <%=sana.sanan_kuvaus_en %><br>
</p>
<% });} else { %>
<p>Tietokannassa ei ole sanoja!</p>
<% } %>
</body>
</html>